/* 
#2C343E dark blue

#94A2B3 blue background

B7C1CC blue background 2

#F0EBC5 yellow

#FB9F89 salmon

#77A69B Mint

F7FFF7 white */

/* .main-container{
    display: block;
    max-width:230px;
    max-height:95px;
    width: auto;
    height: auto;
} */

.top-half {
    background-color: #B7C1CC;
}

img {
    display: block;
    max-width: 73%;
    margin-left: auto;
    margin-right: auto;

}
.parent-container{
    display: flex;
    flex-direction: row;
    background-color: #F3F5F7;
}

.home-container {


}



.left{
    display: flex;
    flex-direction: column;
    font-family: "Segoe UI", Roboto, sans-serif;
    flex: 0 0 60%;
    padding: 45px 15px 30px 45px;

}

.right{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 0 0 40%;
    font-family: "Segoe UI", Roboto, sans-serif;
    padding: 45px 15px 30px 15px;
}
