.home_main-container{
  background-color: #f3f5f7;

}

.home_page-title{
  text-align: center;
  font-size: 60px;
  padding-top: 10px;
  font-family: Futura, Arial, Helvetica, sans-serif;
  color: navy;
}

.home_location-contact{
  text-align: center;
}

.home_location-contact-title{
  color: salmon;
  font-size: 30px;

}

button.home_contact-btn{
  color: salmon;
  padding:0;
  font-size: 20px;
}

button.home_contact-btn:hover{
  color: navy;
  text-decoration: none;
}


.parent-container {
  display: flex;
  flex-direction: row;
  background-color: #f3f5f7;
  justify-content: center;
}



img {
  display: block;
  max-width: 76%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}




.left {
  display: flex;
  flex-direction: column;
  font-family: "Platform Medium", Roboto, sans-serif;
  flex: 0 0 60%;
  padding: 45px 15px 30px 45px;
}

.right {
  display: flex;
  flex-direction: column;
  flex: 0 0 40%;
  padding: 45px 15px 30px 15px;
}

.video1 {
  padding-bottom: 10px;
  height: 300px
}

.video2 {
  padding-bottom: 10px;
  height: 300px
}

.cellViewParagraph {
  display: none;
}

@media screen and (max-width: 500px) {

  .left {
    display: none;

  }

  .right {
    display: flex;
    flex-direction: column;
    flex: 0 0 40%;
    padding: 20px 15px 20px 15px;
  }

  .cellViewParagraph {
    padding: 0px 10px 10px 10px;
     display: inline;
  }

  .parent-container {
    display: flex;
    flex-direction: column;
  }



}