/* 
#2C343E dark blue

#94A2B3 blue background

B7C1CC blue background 2

#F0EBC5 yellow

#FB9F89 salmon

#77A69B Mint

F7FFF7 white */

/* .main-container{
    display: block;
    max-width:230px;
    max-height:95px;
    width: auto;
    height: auto;
} */

.top-half {
  background-color: #b7c1cc;
}

img {
  display: block;
  max-width: 73%;
  margin-left: auto;
  margin-right: auto;
}

.parent-container {
  display: flex;
  flex-direction: row;
  background-color: #f3f5f7;
  justify-content: center;
}

.home-container {}

.left {
  display: flex;
  flex-direction: column;
  font-family: "Platform Medium", Roboto, sans-serif;
  flex: 0 0 60%;
  padding: 45px 15px 30px 45px;
}

.right {
  display: flex;
  flex-direction: column;

  flex: 0 0 40%;

  padding: 45px 15px 30px 15px;
}

.video1 {
  padding-bottom: 10px;
  height: 300px
}

.video2 {
  padding-bottom: 10px;
  height: 300px
}