/* * {
    box-sizing: border-box;
} */

.columns-container {
    display: flex;
    flex-direction: row;
    background-color: #f3f5f7;
    padding-bottom: 30px;
}

.contact-left-side {
    background-color: #F3F5F7;
    display: flex;
    flex-direction: column;
    font-family: "Platform Medium", Roboto, sans-serif;
    padding: 40px 7px 30px 30px;
}

.contact-right-side {
    flex: 0 0 40%;
    padding: 58px 15px 30px 7px;
}



.body {
    display: flex;
    padding: 0 80px 0 0px;
    width: 700px;
}

.contact-forms {
    display: flex;
    padding: 40px 0 0 40px;
}

input,
textarea {

    border: none;
    border-bottom: 1px solid #2C343E;
    background-color: #F3F5F7;
    width: 200px;
    height: 35px;
}

input,
textarea {
    width: 150px;
    transition: ease-in-out, width .35s ease-in-out;
}

input:focus {
    width: 300px;
}

textarea:focus {
    width: 500px;
}

.form-name .form-phone .form-email .form-message .form-name .form-btn {
    display: flex;

}

textarea {
    padding-top: 20px;
    height: 100px;
    width: 200px
}

::placeholder {
    color: #77A69B;
    font-family: "Segoe UI", Roboto, sans-serif;
}

.successContainer{
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;

}
.submitSuccess{
    display: flex;
    font-size: large;
    font-weight: 100;
    color: white;
    background-color: green;
    padding: 20px;
    border-radius: 25px;

}

.right-text {
    display: flex;
    flex-direction: column;
    flex: 0 0 40%;
}

span {
    color: red;
}

button[type=submit] {

    border: 2px solid #77A69B;
    border-radius: 10px;
    padding: 10px;
    background-color: #f3f5f7;
    transition-duration: 0.4s;
    width:100px;
    
}

button {
    color: #237400;
}

button:hover {
    /* Green */
    background-color: #77A69B;
    color: white;
}

.shSax{
    border-radius: 25px;
}