.columns-container {
  display: flex;
  flex-direction: row;
  background-color: #f3f5f7;
  padding-bottom: 30px;
}

.contact-left-side {
  background-color: #f3f5f7;
  display: flex;
  flex-direction: column;
  font-family: "Platform Medium", Roboto, sans-serif;
  padding: 40px 7px 30px 30px;
}

.contact-right-side {
  background-color: #f3f5f7;
  flex: 0 0 40%;
  padding: 58px 15px 30px 7px;
}

.body {
  display: flex;
  padding: 0 80px 80px 0px;
}


.contact-form_title {
  display: flex;
  align-self: center;
  margin-bottom: 50px;
  color: #77a69b;
}

.contact-form_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  /* padding: 40px 40px; */
  border: 1px solid grey;
  border-radius: 5px;
  width: 600px;
  height: 500px;
}

.contact-form{
  display: flex;
  flex-direction: column;
  align-self: center;
}


input,
textarea {
  border: none;
  border-bottom: 1px solid #2c343e;
  background-color: #f3f5f7;
  height: 35px;
}

input,
textarea {
  width: 200px;
  transition: ease-in-out, width 0.35s ease-in-out;
}

input:focus {
  width: 300px;
}

textarea:focus {
  width: 500px;
}

.form-name .form-phone .form-email .form-message .form-name .form-btn {
  display: flex;
}

textarea {
  padding-top: 20px;
  height: 100px;
  width: 200px;
}

::placeholder {
  color: #77a69b;
  font-family: "Segoe UI", Roboto, sans-serif;
}

.successContainer {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.submitSuccess {
  display: flex;
  font-size: large;
  font-weight: 100;
  color: white;
  background-color: green;
  padding: 20px;
  border-radius: 25px;
}

.right-text {
  display: flex;
  flex-direction: column;
  flex: 0 0 40%;
}


.contact-form_button {
  color: #237400;
  border: 2px solid #77a69b;
  border-radius: 10px;
  padding: 10px;
  background-color: #f3f5f7;
  transition-duration: 0.4s;
  width: 100px;

  margin-top: 20px;
}

.contact-form_button:hover {

  background-color: #77a69b;
  color: white;
}

.cellPic {
  display: none;
}

.shSax {
  border-radius: 25px;
}

@media screen and (max-width: 500px) {
  .contact-left-side {
    padding: 40px 0px 30px 0px;
  }

  .contact-right-side {
    display: none;
  }

  .header1 {
    padding-left: 25px;
  }

  .header2 {
    padding-left: 25px;
  }

  .body {
    display: flex;
    padding: 0 20px 0 25px;
  }

  .contactForm {
    padding-left: 25px;
  }

  textarea:focus {
    width: 325px;
  }

  .successContainer {
    padding: 30px 20px 0px 10px;
  }

  .cellPic {
    display: inline;
    padding-top: 50px;
  }
}