@import url('https://fonts.googleapis.com/css?family=Pacifico');

.testimonials-container{
    background-color: #f3f5f7;
   
}

.headerContainer{
    display: flex;
    justify-content: center;
}
.testimonials-header{
    font-family: 'Pacifico', sans-serif;
    padding: 10px 20px 10px 20px;
    font-weight: 100;
}

.comments{
    display: flex;
    flex-direction: column;
    font-family: "Platform Medium", Roboto, sans-serif;
    /* flex: 0 0 60%; */
    padding: 20px 20px 30px 20px;
}


#highlight{
    font-size: large;
    /* line-height: -10px; */
    font-weight: bold;
    padding-bottom: 7px;
}
#comment{
    padding-bottom: 20px;
}

#socialComment{
    padding: 0px 0px 20px 0px;
    width: 100%;
}

@media screen and (max-width: 500px) {
    .testimonials-header{
        display: flex;
        justify-content: flex-end;
        width: 75%;
        font-weight: 100;
    }

}