.app{
    display: flex;
   
}


li {
    color: #F0EBC5;
}


a:link {
  padding-left: 0px;
  font-size: 25px;
}

/* a:hover{
    text-decoration: none !important;
} */

a.nav-link:hover {
    color: #FB9F89;

}









